repos:
  # Ruff mne-rsa
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: ruff-lint
        files: ^mne_rsa/
      - id: ruff-format
        files: ^mne_rsa|^doc/|^examples/

  # Codespell
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        files: ^mne_rsa/|^doc/|^examples/
        types_or: [python, bib, rst]

  # rstcheck
  - repo: https://github.com/rstcheck/rstcheck.git
    rev: v6.2.5
    hooks:
      - id: rstcheck
        additional_dependencies:
          - tomli
        files: ^doc/.*\.rst$
