intersphinx_registry
matplotlib
mne
nibabel
nilearn
numpy
numpydoc
pillow
pooch
pre-commit
pydata_sphinx_theme
pyside6
pytest
pytest-cov
pytest-xdist
pyvista
pyvistaqt
scikit-learn
scipy
sphinx_bootstrap_theme
sphinx_gallery
tqdm
vtk>=9
