numpy
scipy
mne
scikit-learn
vtk>=9
sphinx_gallery
sphinx_bootstrap_theme
numpydoc
matplotlib
pyside6
tqdm
nilearn
pillow
nibabel
pydata_sphinx_theme
pyvista
pyvistaqt
pooch
pytest
pytest-cov
pytest-xdist
